In [1]:
# data was collected from 2020

In [2]:
import pandas as pd
import sqlalchemy
import json
import numpy as np

In [3]:
with open('SourceData/WaterShortageSocialVulnerabilityData.geojson') as data_source:
    social_vul_data=json.load(data_source)

In [4]:
social_vulnerability_cords=[]
for cords in social_vul_data['features']: 
    social_vulnerability_cords.append(cords['geometry']['coordinates'])

In [5]:
social_vulnerability_score=[]
for score in social_vul_data['features']: 
    social_vulnerability_score.append(score['properties']['Social_Vulnerability_Score'])

In [6]:
social_vulnerability_house_hold_income=[]
for house_hold_income in social_vul_data['features']: 
    social_vulnerability_house_hold_income.append(house_hold_income['properties']['MeanHouseholdIncome'])

In [7]:
social_vulnerability_county=[]
for county in social_vul_data['features']: 
    social_vulnerability_county.append(county['properties']['COUNTY_NAME'])

In [8]:
social_vulnerability_below_poverty=[]
for below_poverty in social_vul_data['features']: 
    social_vulnerability_below_poverty.append(below_poverty['properties']['Proportion_Below_Poverty'])

In [9]:
social_vulnerability_per_cap_income=[]
for per_cap_income in social_vul_data['features']: 
    social_vulnerability_per_cap_income.append(per_cap_income['properties']['PerCapitaIncome'])

In [26]:
social_vulnerability_geoid=[]
for geoid in social_vul_data['features']: 
    social_vulnerability_geoid.append(geoid['properties']['GEOID'])

In [27]:
#get tractid
social_vulnerability_tractce=[]
for tractce in social_vul_data['features']: 
    social_vulnerability_tractce.append(tractce['properties']['TRACTCE'])

In [28]:
social_vulnerability_no_hs_diploma=[]
for no_hs_diploma in social_vul_data['features']: 
    social_vulnerability_no_hs_diploma.append(no_hs_diploma['properties']['Percent_noHighSchool_Diploma'])

In [35]:
social_df=pd.DataFrame({'coordinates':social_vulnerability_cords,
                        'Social_Vulnerability_Score': social_vulnerability_score,
                        'MeanHouseholdIncome': social_vulnerability_house_hold_income,
                        'COUNTY_NAME': social_vulnerability_county,
                        'Proportion_Below_Poverty': social_vulnerability_below_poverty,
                        'PerCapitaIncome': social_vulnerability_per_cap_income,
                        'Percent_noHighSchool_Diploma':social_vulnerability_no_hs_diploma,
                        'GEOID':social_vulnerability_geoid,
                        'TRACTCE':social_vulnerability_tractce
                       })
social_df.head(2)

,coordinates,Social_Vulnerability_Score,MeanHouseholdIncome,COUNTY_NAME,Proportion_Below_Poverty,PerCapitaIncome,Percent_noHighSchool_Diploma,GEOID,TRACTCE
0,"[[[-121.32744890184227, 36.42351890364264], [-...",0.9810,48125.0,Monterey,0.816893,12269.0,0.927496,060530111013,011101
1,"[[[-121.33744690391782, 36.43170390354494], [-...",0.7795,76220.0,Monterey,0.364356,19792.0,0.869763,060530111022,011102

In [36]:
social_df['GEOID']=social_df['GEOID'].astype('int64')
social_df['TRACTCE']=social_df['TRACTCE'].astype('int64')
social_df = social_df[(social_df['COUNTY_NAME'] == 'Alameda')]
social_df.head(2)

,coordinates,Social_Vulnerability_Score,MeanHouseholdIncome,COUNTY_NAME,Proportion_Below_Poverty,PerCapitaIncome,Percent_noHighSchool_Diploma,GEOID,TRACTCE
13,"[[[-121.96538911962388, 37.53648795687973], [-...",0.6979,58245.0,Alameda,0.205536,35970.0,0.649319,60014423023,442302
95,"[[[-121.94583411820871, 37.55399496013691], [-...",0.0271,238611.0,Alameda,0.006294,75568.0,0.195016,60014420002,442000

In [37]:
social_df = social_df.sort_values(by=['GEOID'])
social_df.head(20)

,coordinates,Social_Vulnerability_Score,MeanHouseholdIncome,COUNTY_NAME,Proportion_Below_Poverty,PerCapitaIncome,Percent_noHighSchool_Diploma,GEOID,TRACTCE
2234,"[[[-122.24693320212604, 37.88544296589232], [-...",0.1820,219861.0,Alameda,0.104227,116300.0,0.133121,60014001001,400100
21568,"[[[-122.25509719832763, 37.84607396249165], [-...",0.1799,237500.0,Alameda,0.076768,106227.0,0.068641,60014002001,400200
11516,"[[[-122.25793619891726, 37.84261096172788], [-...",0.1508,162583.0,Alameda,0.135458,75669.0,0.194647,60014002002,400200
2795,"[[[-122.2518701982988, 37.84475096155173], [-1...",0.2126,183482.0,Alameda,0.022046,81628.0,0.066829,60014003001,400300
11760,"[[[-122.26231819883954, 37.83786396149049], [-...",0.2250,101736.0,Alameda,0.098580,79871.0,0.209865,60014003002,400300
11761,"[[[-122.26564419950088, 37.8376409608122], [-1...",0.6412,32078.0,Alameda,0.174296,58108.0,0.527072,60014003003,400300
11762,"[[[-122.25808719853002, 37.8382969610444], [-1...",0.4003,160294.0,Alameda,0.113342,95248.0,0.298069,60014003004,400300
11763,"[[[-122.25728720026048, 37.85330296247419], [-...",0.1874,135278.0,Alameda,0.220126,72444.0,0.182153,60014004001,400400
8614,"[[[-122.26183919916373, 37.84162796131955], [-...",0.3401,80875.0,Alameda,0.287174,66665.0,0.273232,60014004002,400400
11785,"[[[-122.26100820003373, 37.84738396137967], [-...",0.2509,135398.0,Alameda,0.149560,68266.0,0.295788,60014004003,400400
11786,"[[[-122.26614120141497, 37.85201396212977], [-...",0.3272,109833.0,Alameda,0.238662,54380.0,0.246468,60014005001,400500
21287,"[[[-122.26942220187047, 37.84811196083396], [-...",0.1835,140034.0,Alameda,0.154862,45800.0,0.546377,60014005002,400500
9006,"[[[-122.26952020177977, 37.84858696133085], [-...",0.2620,89219.0,Alameda,0.217839,52901.0,0.281863,60014005003,400500
22165,"[[[-122.26808320005743, 37.844140961276544], [...",0.3777,116250.0,Alameda,0.199078,53702.0,0.310945,60014006001,400600
22166,"[[[-122.26757520006932, 37.841676960831116], [...",0.0952,162708.0,Alameda,0.095455,65856.0,0.241453,60014006002,400600
22167,"[[[-122.27803120280258, 37.847387960000965], [...",0.4637,75525.0,Alameda,0.224291,50853.0,0.319502,60014007001,400700
22168,"[[[-122.27704520206527, 37.84329095977078], [-...",0.5446,90625.0,Alameda,0.423892,41040.0,0.488515,60014007002,400700
22169,"[[[-122.27659320125534, 37.84068095996493], [-...",0.3865,95945.0,Alameda,0.330572,40467.0,0.474308,60014007003,400700
22171,"[[[-122.27632420164181, 37.839270959895686], [...",0.6365,83068.0,Alameda,0.315266,41600.0,0.415877,60014007004,400700
22172,"[[[-122.28874320473057, 37.84996696031936], [-...",0.4392,84875.0,Alameda,0.285618,56194.0,0.454918,60014008001,400800

In [38]:
engine=sqlalchemy.create_engine('sqlite:///data/db.sqlite')

In [39]:
social_df['coordinates']=social_df['coordinates'].astype('str')

In [40]:
social_df['Social_Vulnerability_Score']=social_df['Social_Vulnerability_Score'].astype('float')

In [41]:
social_df['MeanHouseholdIncome']=social_df['MeanHouseholdIncome'].astype('float')

In [42]:
social_df['COUNTY_NAME']=social_df['COUNTY_NAME'].astype('str')

In [43]:
social_df['Proportion_Below_Poverty']=social_df['Proportion_Below_Poverty'].astype('float')

In [44]:
social_df['PerCapitaIncome']=social_df['PerCapitaIncome'].astype('float')

In [45]:
social_df['Percent_noHighSchool_Diploma']=social_df['Percent_noHighSchool_Diploma'].astype('float')

In [46]:
social_df.to_sql('data', if_exists='replace', index=False, con=engine)

1047