In [2]:
# data was collected from 2020

In [3]:
import pandas as pd
import sqlalchemy
import json
import numpy as np

In [4]:
with open('SourceData/WaterShortageSocialVulnerabilityData.geojson') as data_source:
    social_vul_data=json.load(data_source)

In [5]:
social_vulnerability_cords=[]
for cords in social_vul_data['features']: 
    social_vulnerability_cords.append(cords['geometry']['coordinates'])

In [6]:
social_vulnerability_score=[]
for score in social_vul_data['features']: 
    social_vulnerability_score.append(score['properties']['Social_Vulnerability_Score'])

In [7]:
social_vulnerability_house_hold_income=[]
for house_hold_income in social_vul_data['features']: 
    social_vulnerability_house_hold_income.append(house_hold_income['properties']['MeanHouseholdIncome'])

In [8]:
social_vulnerability_county=[]
for county in social_vul_data['features']: 
    social_vulnerability_county.append(county['properties']['COUNTY_NAME'])

In [9]:
social_vulnerability_below_poverty=[]
for below_poverty in social_vul_data['features']: 
    social_vulnerability_below_poverty.append(below_poverty['properties']['Proportion_Below_Poverty'])

In [10]:
social_vulnerability_per_cap_income=[]
for per_cap_income in social_vul_data['features']: 
    social_vulnerability_per_cap_income.append(per_cap_income['properties']['PerCapitaIncome'])

In [ ]:
#get tractid
# social_vulnerability_per_cap_income=[]
# for per_cap_income in social_vul_data['features']: 
#     social_vulnerability_per_cap_income.append(per_cap_income['properties']['PerCapitaIncome'])

In [11]:
social_vulnerability_no_hs_diploma=[]
for no_hs_diploma in social_vul_data['features']: 
    social_vulnerability_no_hs_diploma.append(no_hs_diploma['properties']['Percent_noHighSchool_Diploma'])

In [12]:
social_df=pd.DataFrame({'coordinates':social_vulnerability_cords,
                        'Social_Vulnerability_Score': social_vulnerability_score,
                        'MeanHouseholdIncome': social_vulnerability_house_hold_income,
                        'COUNTY_NAME': social_vulnerability_county,
                        'Proportion_Below_Poverty': social_vulnerability_below_poverty,
                        'PerCapitaIncome': social_vulnerability_per_cap_income,
                        'Percent_noHighSchool_Diploma':social_vulnerability_no_hs_diploma
                       })
social_df.head(2)

,coordinates,Social_Vulnerability_Score,MeanHouseholdIncome,COUNTY_NAME,Proportion_Below_Poverty,PerCapitaIncome,Percent_noHighSchool_Diploma
0,"[[[-121.32744890184227, 36.42351890364264], [-...",0.9810,48125.0,Monterey,0.816893,12269.0,0.927496
1,"[[[-121.33744690391782, 36.43170390354494], [-...",0.7795,76220.0,Monterey,0.364356,19792.0,0.869763

In [15]:
social_df = social_df[(social_df['COUNTY_NAME'] == 'Alameda')]
social_df.head(2)

,coordinates,Social_Vulnerability_Score,MeanHouseholdIncome,COUNTY_NAME,Proportion_Below_Poverty,PerCapitaIncome,Percent_noHighSchool_Diploma
13,"[[[-121.96538911962388, 37.53648795687973], [-...",0.6979,58245.0,Alameda,0.205536,35970.0,0.649319
95,"[[[-121.94583411820871, 37.55399496013691], [-...",0.0271,238611.0,Alameda,0.006294,75568.0,0.195016

In [16]:
engine=sqlalchemy.create_engine('sqlite:///data/db.sqlite')

In [17]:
social_df['coordinates']=social_df['coordinates'].astype('str')

In [18]:
social_df['Social_Vulnerability_Score']=social_df['Social_Vulnerability_Score'].astype('float')

In [19]:
social_df['MeanHouseholdIncome']=social_df['MeanHouseholdIncome'].astype('float')

In [20]:
social_df['COUNTY_NAME']=social_df['COUNTY_NAME'].astype('str')

In [21]:
social_df['Proportion_Below_Poverty']=social_df['Proportion_Below_Poverty'].astype('float')

In [22]:
social_df['PerCapitaIncome']=social_df['PerCapitaIncome'].astype('float')

In [23]:
social_df['Percent_noHighSchool_Diploma']=social_df['Percent_noHighSchool_Diploma'].astype('float')

In [24]:
social_df.to_sql('data', if_exists='replace', index=False, con=engine)

1047