In [ ]:
# data was collected from 2020

In [38]:
import pandas as pd
import sqlite3
import sqlalchemy as sql
import json
import numpy as np

In [39]:
with open('WaterShortageSocialVulnerabilityData.geojson') as data_source:
    social_vul_data=json.load(data_source)

In [40]:
social_vulnerability_cords=[]
for cords in social_vul_data['features']: 
    social_vulnerability_cords.append(cords['geometry']['coordinates'])

In [41]:
social_vulnerability_score=[]
for score in social_vul_data['features']: 
    social_vulnerability_score.append(score['properties']['Social_Vulnerability_Score'])

In [42]:
social_vulnerability_house_hold_income=[]
for house_hold_income in social_vul_data['features']: 
    social_vulnerability_house_hold_income.append(house_hold_income['properties']['MeanHouseholdIncome'])

In [43]:
social_vulnerability_county=[]
for county in social_vul_data['features']: 
    social_vulnerability_county.append(county['properties']['COUNTY_NAME'])

In [44]:
social_vulnerability_below_poverty=[]
for below_poverty in social_vul_data['features']: 
    social_vulnerability_below_poverty.append(below_poverty['properties']['Proportion_Below_Poverty'])

In [45]:
social_vulnerability_per_cap_income=[]
for per_cap_income in social_vul_data['features']: 
    social_vulnerability_per_cap_income.append(per_cap_income['properties']['PerCapitaIncome'])

In [46]:
social_vulnerability_no_hs_diploma=[]
for no_hs_diploma in social_vul_data['features']: 
    social_vulnerability_no_hs_diploma.append(no_hs_diploma['properties']['Percent_noHighSchool_Diploma'])

In [81]:
social_df.dtypes

coordinates                     object
Social_Vulnerability_Score      object
MeanHouseholdIncome             object
COUNTY_NAME                     object
Proportion_Below_Poverty        object
PerCapitaIncome                 object
Percent_noHighSchool_Diploma    object
dtype: object

In [47]:
social_df=pd.DataFrame({'coordinates':social_vulnerability_cords,
                        'Social_Vulnerability_Score': social_vulnerability_score,
                        'MeanHouseholdIncome': social_vulnerability_house_hold_income,
                        'COUNTY_NAME': social_vulnerability_county,
                        'Proportion_Below_Poverty': social_vulnerability_below_poverty,
                        'PerCapitaIncome': social_vulnerability_per_cap_income,
                        'Percent_noHighSchool_Diploma':social_vulnerability_no_hs_diploma
                       })
social_df.head(2)

,coordinates,Social_Vulnerability_Score,MeanHouseholdIncome,COUNTY_NAME,Proportion_Below_Poverty,PerCapitaIncome,Percent_noHighSchool_Diploma
0,"[[[-121.32744890184227, 36.42351890364264], [-...",0.9810,48125.0,Monterey,0.816893,12269.0,0.927496
1,"[[[-121.33744690391782, 36.43170390354494], [-...",0.7795,76220.0,Monterey,0.364356,19792.0,0.869763

In [54]:
engine=sql.create_engine('sqlite:///data/db3.sqlite')

In [55]:
social_df.columns

Index(['coordinates', 'Social_Vulnerability_Score', 'MeanHouseholdIncome',
       'COUNTY_NAME', 'Proportion_Below_Poverty', 'PerCapitaIncome',
       'Percent_noHighSchool_Diploma'],
      dtype='object')

In [83]:
# social_df = social_df.astrype(blob)

social_df['coordinates']=social_df['coordinates'].astype('blob')

TypeError: data type 'blob' not understood

In [ ]:
social_df['Social_Vulnerability_Score']=social_df['Social_Vulnerability_Score'].astype('blob')

In [73]:
results=engine.execute('select * from data').all()
type(results)

list

In [74]:
data=[]
for each_result in results: 
    data.append(list(each_result))

In [75]:
data[-1]

['[[[-118.37451119023838, 33.8227338237482], [-118.37451419061144, 33.82267782304652], [-118.37445519106019, 33.82169182288871], [-118.37444819048916, 33.82138082328101], [-118.37445419033695, 33.8211908234225], [-118.37451319078652, 33.81961682244681], [-118.37444919031408, 33.81961582238486], [-118.37428818975728, 33.81961282369142], [-118.37382618979993, 33.81959782275974], [-118.37382919017298, 33.81973582302269], [-118.37381519082759, 33.819883823652106], [-118.37379718948762, 33.81997382293139], [-118.37375019053027, 33.8200098227658], [-118.37346618994982, 33.8200298231648], [-118.37060118942094, 33.82002182345357], [-118.36970618892019, 33.82004482327444], [-118.36970818946831, 33.820260822620796], [-118.3697391903288, 33.82087782339103], [-118.36976518936977, 33.821382823363685], [-118.36975018930114, 33.82239882349515], [-118.36977919051176, 33.82331882399494], [-118.36978118926326, 33.823404823320004], [-118.36975819059538, 33.823897823899685], [-118.36978719000938, 33.82420182325066], [-118.3698811897207, 33.824285823911765], [-118.36996318973647, 33.82433582351985], [-118.37002319001093, 33.824372823016986], [-118.37006719039186, 33.82439882392471], [-118.37031318954084, 33.824547823204995], [-118.37050218968672, 33.82470482299204], [-118.37058518952738, 33.824816823942655], [-118.37061819003767, 33.82490082325338], [-118.37064018977897, 33.82506682386954], [-118.37063619047933, 33.82603982408914], [-118.37061519056296, 33.82693282411509], [-118.3706211895124, 33.82708682407669], [-118.37097818988781, 33.82711682405629], [-118.37140719023319, 33.82719682419926], [-118.3716341900139, 33.827237824588636], [-118.37198219106678, 33.82732582364709], [-118.37225618980484, 33.82741282413666], [-118.37229819053596, 33.82742582375617], [-118.37271019026458, 33.82756982463314], [-118.37293619111871, 33.82766182396781], [-118.37291819067705, 33.827568823917936], [-118.37291219082928, 33.82754082403552], [-118.37286118987734, 33.82727982343822], [-118.37307019101304, 33.82729682445922], [-118.3732541902377, 33.827311824040365], [-118.37345019095461, 33.827327823590714], [-118.37366319049163, 33.8273448238559], [-118.37397419083626, 33.82736982388861], [-118.37408619098925, 33.82737882362994], [-118.37432719101368, 33.82739882379792], [-118.3744281903977, 33.827406823565354], [-118.3744281903977, 33.82733182422408], [-118.37442919112092, 33.826941823902416], [-118.37443319131887, 33.82686782413041], [-118.37442919112092, 33.82679182359201], [-118.37442919112092, 33.82661782349929], [-118.37442919112092, 33.82643882388786], [-118.37443019094584, 33.826268823759875], [-118.37443019094584, 33.82610882315507], [-118.37443019094584, 33.825960823597704], [-118.37443019094584, 33.82591382341237], [-118.37444619083938, 33.82583282431845], [-118.37445019103733, 33.82479382391265], [-118.37445519106019, 33.823751822781446], [-118.37451119023838, 33.8227338237482]]]',
 0.3115,
 124706.0,
 'Los Angeles',
 0.05629139,
 83852.0,
 0.49826188]

In [67]:
engine=sql.create_engine('sqlite:///data/db.sqlite')

In [68]:
results=engine.execute('select * from data').all()

In [77]:
social_df.dtypes

coordinates                     object
Social_Vulnerability_Score      object
MeanHouseholdIncome             object
COUNTY_NAME                     object
Proportion_Below_Poverty        object
PerCapitaIncome                 object
Percent_noHighSchool_Diploma    object
dtype: object

In [70]:
social_dft=[]
for each_result in results: 
    shape=eval(each_result[0])
    social_dft.append(shape)

In [71]:
social_df

,coordinates,Social_Vulnerability_Score,MeanHouseholdIncome,COUNTY_NAME,Proportion_Below_Poverty,PerCapitaIncome,Percent_noHighSchool_Diploma
0,"[[[-121.32744890184227, 36.42351890364264], [-...",0.981,48125.0,Monterey,0.81689253,12269.0,0.92749582
1,"[[[-121.33744690391782, 36.43170390354494], [-...",0.7795,76220.0,Monterey,0.36435644,19792.0,0.86976321
2,"[[[-122.70181532599452, 38.3548179697951], [-1...",0.0117,160156.0,Sonoma,0.0,66425.0,0.48773006
3,"[[[-119.63718584494936, 38.32793119720473], [-...",0.751,62634.0,Mono,0.26456876,35898.0,0.87707182
4,"[[[-122.69011532637433, 38.371326972417194], [...",0.1752,113977.0,Sonoma,0.17849687,41509.0,0.6673913
...,...,...,...,...,...,...,...
23207,"[[[-118.09489813974567, 33.77353683312718], [-...",0.5132,28421.0,Orange,0.37269373,41831.0,0.67896679
23208,"[[[-118.35103918473978, 33.80753182284916], [-...",0.6329,92786.0,Los Angeles,0.10482921,44960.0,0.49593496
23209,"[[[-118.372655190013, 33.81508682323727], [-11...",0.0067,152461.0,Los Angeles,0.04626709,70148.0,0.472
23210,"[[[-118.37444919031408, 33.81961582238486], [-...",0.1615,128854.0,Los Angeles,0.10159817,55518.0,0.37052342
23211,"[[[-118.37451119023838, 33.8227338237482], [-1...",0.3115,124706.0,Los Angeles,0.05629139,83852.0,0.49826188